<!DOCTYPE html>
<html>
<head>
    <title>Books and Authors</title>
</head>
<body>
    <h1>Books and Authors</h1>
    <ul>
        {% for book in books %}
            <li>{{ book.title }} by {{ book.author.name }} (Author's Books:
                <ul>
                    {% for author_book in book.author.book_set.all %}
                        <li>{{ author_book.title }}</li>
                    {% endfor %}
                </ul>
            )
            </li>
        {% endfor %}
    </ul>
</body>
</html>
